*{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to right, #07073f, #4b1055, #871a5f, #bd3260, #ea5858);
}
.form_box{
    width: 45%;
    height: 60%;
    background-color: ghostwhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 30px;
    overflow: hidden;
}
.form_img{
    width: 40%;
    height: 100%;
    background-image: url('../images/sky-black.jpg');
    background-size: cover;
    position: relative;
}
.form_content{
    width: 60%;
    height: 100%;
    background-color: ghostwhite;
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 25px;
}
h2{
    font-size: 32px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}
input{
    width: 80%;
    height: 20px;
    display: block;
    margin: 20px auto;
    padding: 15px;
    font-weight: 400;  
    border: none;
    background-color: transparent; 
    border-bottom: 1px solid #212121;
}
.btn{
    border: none;
    background-color:rgb(92, 92, 211);
    line-height: 0px;
    color: #fff;
    font-weight: 400;
}
a{
    font-size: 12px;
    text-align: right;
    display: block;
    padding: 0px 45px 0px 0px;
}
div{
    text-align: center;
}
.facebook{
    width: 25%;
    height: 40px;
    background-color: rgb(95, 95, 236);
    margin: 20px 15px;
    float: right;
    font-size: 16px;
    text-align: left;
    padding: 3px 5px;
    line-height: 40px;
    color: #fff;
}
.instagram{
    width: 25%;
    height: 40px;
    background-color: rgb(233, 67, 122);
    margin: 20px 15px;
    float: right;
    font-size: 16px;
    text-align: left;
    padding: 0px 5px;
    line-height: 40px;
    color: #fff;
}
.whatsapp{
    width: 25%;
    height: 40px;
    background-color: rgb(78, 164, 88);
    margin: 20px 15px;
    float: right;
    font-size: 16px;
    text-align: left;
    padding: 0px 5px;
    line-height: 40px;
    color: #fff;
}
